In [1]:
# library
import numpy as np
import pandas as pd
from scipy.spatial.distance import euclidean
from google.colab import files
import io

In [2]:
#Digunakan untuk membaca data
def bacadata(file_):
    df = file_
    train_ = pd.DataFrame(pd.read_excel(df, sheet_name='train'))
    test_ = pd.DataFrame(pd.read_excel(df, sheet_name='test'))
    return train_, test_

In [3]:
#Untuk menghitung Jarak
def jarak(Train, Test):
    distnc = []
    for j in range(len(Test[0])):
        lst = []
        for i in range(len(Train[0])):
            a = (Train[0][i], Train[1][i], Train[2][i])
            b = (Test[0][j], Test[1][j], Test[2][j])
            lst.append(euclidean(a,b))
        distnc.append(lst)
    return distnc

In [4]:
#Untuk menentukan Class
def menentukan_kelas(data, Train, k):
    dataTrain = Train
    kls = []
    for i in range(len(data)):
        x = data[i]
        dmpList = [x for _, x in sorted(zip(x,dataTrain))]
        kelas = max(set(dmpList[0:k]), key = dmpList.count)
        kls.append(kelas)    
    return kls

In [5]:
#Evaluasi Model
def akurasi(k):
    data = pd.ExcelFile('traintest.xlsx')
    latih = pd.read_excel(data, 'train')
    x1 = latih['x1'].tolist()
    x2 = latih['x2'].tolist()
    x3 = latih['x3'].tolist()
    y = latih['y'].tolist()
    print("Uji coba Evaluasi dengan K :", k)

    #evaluasi pertama
    print(" ")
    print("Evaluasi Pertama")
    
    x1Eva1 = x1[0:74]
    x2Eva1 = x2[0:74]
    x3Eva1 = x3[0:74]
    x1Eva1U1 = x1[74:148]
    x1Eva1U2 = x2[74:148]
    x1Eva1U3 = x3[74:148]
    yEva1 = y[74:148]
    arrayEva1 = np.array((x1Eva1, x2Eva1, x3Eva1), dtype = int)
    arrayEva2 = np.array((x1Eva1U1, x1Eva1U2, x1Eva1U3), dtype = int)
    dmp1 = jarak(arrayEva1, arrayEva2)
    Kelas1 = menentukan_kelas(dmp1, yEva1, k)
    count = 0
    for i in range(len(dmp1)):
        if Kelas1[i] == yEva1[i]:
            count += 1
    print("Nilai akurasi : ", (count/len(yEva1)))
    print(" ")



    #evaluasi kedua
    print(" ")
    print("Evaluasi Kedua")
    x1Eva1 = x1[148:222]
    x2Eva1 = x2[148:222]
    x3Eva1 = x3[148:222]
    x1Eva1U1 = x1[222:296]
    x1Eva1U2 = x2[222:296]
    x1Eva1U3 = x3[222:296]
    yEva1 = y[222:296]
    arrayEva1 = np.array((x1Eva1, x2Eva1, x3Eva1), dtype = int)
    arrayEva2 = np.array((x1Eva1U1, x1Eva1U2, x1Eva1U3), dtype = int)
    dmp1 = jarak(arrayEva1, arrayEva2)
    Kelas1 = menentukan_kelas(dmp1, yEva1, k)
    count = 0
    for i in range(len(dmp1)):
        if Kelas1[i] == yEva1[i]:
            count += 1
    print("Nilai akurasi : ", (count/len(yEva1)))

In [6]:
#Digunakan untuk menulis output file
def writeData(nama, output):
    inp = pd.ExcelFile(nama)
    data = pd.read_excel(inp, 'test')
    id = data['id'].tolist()
    x1 = data['x1'].tolist()
    x2 = data['x2'].tolist()
    x3 = data['x3'].tolist()

    df = pd.DataFrame({'id': id,'x1': x1, 'x2': x2, 'x3': x3, 'y': output })
    df.to_excel('output.xlsx', sheet_name='hasil', index=False)

In [10]:
def main():
    uploaded = files.upload()
    df = pd.ExcelFile(io.BytesIO(uploaded.get('traintest.xlsx')))
    xTrain, yTest = bacadata(df)
    arrayTrain = np.array((xTrain['x1'].tolist(),xTrain['x2'].tolist(),xTrain['x3'].tolist()), dtype= int)
    arrayTest = np.array((yTest['x1'].tolist(),yTest['x2'].tolist(),yTest['x3'].tolist()), dtype= int)
    dmp = jarak(arrayTrain, arrayTest)
    k = int(input("Masukkan banyak k(Tetangga): "))
    dataTrain = xTrain['y'].tolist()
    Kelas = menentukan_kelas(dmp, dataTrain, k)
    akurasi(k)
    writeData('traintest.xlsx', Kelas)

In [16]:
if __name__ == '__main__':
    print("TugasPemrograman=03-Learning-Mecca")
    print("/---------------------------------/")
    main()
    print("/----------------------------------/")
    print("selesai")

TugasPemrograman=03-Learning-Mecca
/---------------------------------/

Saving traintest.xlsx to traintest (4).xlsx
Masukkan banyak k(Tetangga): 11
Uji coba Evaluasi dengan K : 11

Evaluasi Pertama
Nilai akurasi :  0.7837837837837838


Evaluasi Kedua
Nilai akurasi :  0.7027027027027027
/----------------------------------/
selesai

#### untuk pembacaan file output yang diperoleh

In [12]:
df = pd.read_excel('output.xlsx')

df.head(10)

    id  x1  x2  x3  y
0  297  43  59   2  1
1  298  67  66   0  1
2  299  58  60   3  1
3  300  49  63   3  1
4  301  45  60   0  1
5  302  54  58   1  1
6  303  56  66   3  1
7  304  42  69   1  1
8  305  50  59   2  1
9  306  59  60   0  1

In [13]:
df = pd.read_excel('traintest.xlsx')

df.head(50)

    id  x1  x2  x3  y
0    1  60  64   0  1
1    2  54  60  11  0
2    3  65  62  22  0
3    4  34  60   0  1
4    5  38  69  21  0
5    6  33  58  10  1
6    7  63  61   0  1
7    8  57  64   0  1
8    9  46  58   3  1
9   10  43  65   0  1
10  11  60  59  17  0
11  12  70  59   8  1
12  13  69  60   0  1
13  14  57  61   5  0
14  15  67  61   0  1
15  16  68  67   0  1
16  17  49  61   1  1
17  18  47  58   3  1
18  19  48  67   7  0
19  20  66  58   1  1
20  21  57  64   9  1
21  22  46  63   0  1
22  23  36  60   1  1
23  24  52  64   0  1
24  25  51  64   7  1
25  26  41  60  23  0
26  27  53  58   4  0
27  28  50  64   0  0
28  29  56  66   2  1
29  30  45  67   0  1
30  31  70  67   0  1
31  32  45  67   1  1
32  33  37  63   0  1
33  34  61  65   8  1
34  35  50  65   4  1
35  36  77  65   3  1
36  37  57  69   0  1
37  38  62  65  19  0
38  39  65  67   1  1
39  40  44  63   1  1
40  41  49  62   1  1
41  42  55  58   1  1
42  43  61  68   1  0
43  44  49  62   0  1
44  45  61  64   0  1
45  46  41  64   0  0
46  47  52  68   0  1
47  48  38  66   0  1
48  49  57  62  14  0
49  50  57  67   0  1